
<div class="text-center text-md-left">
    <h1>Bienvenido al Ejercicio 2</h1>
    <a class="btn btn-primary" style="margin-top: 10px;" (click)="llamarApi()">Conectar con API 1</a>
    <br>
    <a class="btn btn-primary" style="margin-top: 10px;" (click)="llamarApi2()">Conectar con API 2</a>
    <br>
    
    <ul>
        <li *ngFor="let item of post">
            {{item.title}}
        </li>
    </ul>

    <a class="btn btn-primary" style="margin-top: 10px;" (click)="llamarApi3()">Conectar con API 3</a>

    
    <table class="table" *ngIf="products.length != 0">
        <th scope="col" >Producto</th>
        <th scope="col" >Precio</th>
        <tbody>
            <tr *ngFor="let p of products">
                <td>
                    {{p.title}}
                </td>
                <td>
                    {{p.price}}
                </td>
            </tr>
            
        </tbody>
        
    </table>
</div>
